 <!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Jokes & Qoutes</title>
        <link href="bootstrap/style.css" rel="stylesheet" type="text/css" />
        <script src="angular/angular.js"></script>
    </head>



    <body background="img/paperbackground.jpg">    
        <div class="container">
            <div class="navbar"> 
                <ul>
                    <li><a id="" href="home-joke.html">Jokes</a></li>
                    <li><a id="" href="home-quote.html">Quotes</a></li>
                    <li><a id="" href="post-joke.html">Post Joke</a></li>
                    <li><a id="active" href="post-quote.html">Post Quote</a></li>
                    <li><a id="" class="margin-user" href="index.html">Logout</a></li>
                </ul>
            </div>



            <div class="content">
                <div class="side-bar-left">
                    <h2>Categories</h2>
                        <p>Love Quotes</p>
                        <p>Humor Quotes</p>
                        <p>Life Quotes</p>
                        <p>Inspirational Quotes</p>
                        <p>Truth Quotes</p>
                        <p>Philosophy Quotes</p>
                        <p>Wisdom Quotes</p>
                        <p>Happiness Quotes</p>
                        <p>Romance Quotes</p>
                        <p>Death Quotes</p>
                        <p>God Quotes</p>
                        <p>Hope Quotes</p>
                        <p>Funny Quotes</p>
                        <p>Writing Quotes</p>
                        <p>Poetry Quotes</p>
                </div>
    


                <div class="main-content" ng-app="">
                    <div class="post-joke">
                        <font>Select QUOTE Category:</font><br/>
                            <select>
                                <option>Select Category</option>
                                <option>Love Quote</option>
                                <option>Humor Quote</option>
                                <option>Life Quote</option>
                                <option>Inspirational Quote</option>
                                <option>Truth Quote</option>
                                <option>Philosophy Quote</option>
                                <option>Wisdom Quote</option>
                                <option>Happiness Quote</option>
                                <option>Romance Quote</option>
                            </select>
                                <br/>
                                <br/>
                        <font>Post QUOTE here:</font><br/>
                            <textarea cols="38" rows="10" ng-model="quotecontent" placeholder="Your QUOTE here..."></textarea>
                    </div>



                    <div class="quote-label-user">
                            <p>
                            "{{quotecontent}}"<br/>
                            <b> - SampleUser</b>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>