@font-face{
    font-family: "SansationLight";
    src: url('SansationLight.ttf'),
    url('SansationLight.eot'); /* IE */
}

body
{
  font-family: 'SansationLight';
	font-weight: 300;
  font-size: 16px;
  margin: 5px;
  background-color: lightgoldenrodyellow;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  color: black;
}





.clearfix
{
  overflow: auto;
}





input[type=text]
{
  height: 20px;
  width: 200px;
  border-radius: 5px;
}




input[type=password]
{
  height: 20px;
  width: 200px;
  border-radius: 5px;
}





input[type=text]:focus
{
  border: 2px solid rgba(82, 168, 236, 0.8);
  outline: 0px none;
  border-radius: 5px;
}




input[type=submit]
{
  height: 25px;
  width: 64px;
  border-radius: 5px;
  background-color: white;
  color: grey;

}





button
{
  height: 37px;
  width: 200px;
  border-radius: 5px;
  box-shadow: 10px 4px 5px grey;
  background-color: white;
  color: grey;
}





textarea
{
  border-radius: 5px;
}





select
{
  border-radius: 5px;
  width: 205px;
  height: 29px;
}





.separator
{
  position: relative;
}





.margin
{
  margin-right: 136px;
}



#margin
{
  margin-right: 40px;
  box-shadow: 10px 4px 5px grey;
}





.margin-user
{
  margin-right: 86px;
  float: right;
}





.post-joke
{
  clear: right;
  width: 443px;
  float: left;
  padding-left: 100px;
  margin-top: 30px;
  margin-bottom: 15px;
}





.banner
{
  background: sienna;
  width: 1250px;
  border-radius: 0px;
  width: auto;
  text-align: left;
  height: 100px;
  left: 0px;
  top: 0px;
  border-bottom: 42px solid burlywood;
  border-top: 5px solid darkred;
}





.navbar
{
  border-radius: 0px;
  margin-bottom: 30px;
  width: 100%;
  text-align: left;
  height: 51px;
  left: 0px;
  top: 0px;
  border-bottom: 7px solid darkred;
  margin-top: 57px;   
}





.navbar ul
{
  list-style: none;
  margin: 0 auto;
}





.navbar ul li
{
  text-align: center;
  display: inline;
  font-size: 11px;
}





.navbar ul li a
{
  text-shadow: 2px 2px 4px grey;
  color: black;
  font-size: 28px;
}





.navbar a:link
{
  font-weight: 500;
  display: inline-block;
  padding: 10px 20px;
  height: 45px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}





.navbar a:hover,.navbar a:active
{
  color: darkred;
  font-weight: 500;
  text-decoration: overline;
}





#active
{
  background: darkred;
  color: white;
  font-size: 30px;
  height: 32px;
}





.quote-label-1
{
  height: auto;
  width: 468px;
  margin: 17px;
  margin-top: 30px;
  float: left;
  clear: right;
  border: 1px solid grey;
  border-top: 1px solid grey;
  border-left: 1px solid grey;
  word-wrap: break-word;
  box-shadow: 10px 10px 5px grey;
}





.quote-label-1 p
{
 padding: 20px;
}





.quote-label-user
{
  height: auto;
  width: 468px;
  margin: -88px;
  margin-top: 30px;
  margin-right: 83px;
  float: left;
  clear: right;
  border: 1px solid grey;
  border-top: 1px solid grey;
  border-left: 1px solid grey;
  word-wrap: break-word;
  box-shadow: 10px 10px 5px grey;
}





.quote-label-user p
{
 padding: 20px;
}





.quote-label-2
{
  height: auto;
  width: 468px;
  margin: 3px;
  margin-top: 30px;
  float: right;
  clear: right;
  margin-right: 17px;
  border: 1px solid grey;
  border-top: 1px solid grey;
  border-left: 1px solid grey;
  word-wrap: break-word;
  box-shadow: 10px 10px 5px grey;
}





.quote-label-2 p
{
 padding: 20px;
}




.register-button
{
  margin: 3px;
  margin-top: 30px;
  float: right;
  clear: right;
  margin-right: 17px;
}





h1
{
  color:white;
}





h2
{
  color:gray;
}





a
{
  text-decoration: none;
}





i
{
  margin-left: 780px;
  font-size: 25px;
}





b
{
  float: right;
  margin-top: 5px;
  margin-right: 21px;
}





.quote
{
  border: 10px solid;
}





.container
{
  height: auto;
  width: 100%;
  color: black;
  margin: 0;
  padding: 0;  
}





.footer
{
  width: 100%;
  height: 300px;
  color: white;
  margin: 0;
  padding 30px;
  background: #B40404;
  border-top: 5px solid grey;
}





.footer-div
{
  height:100px;
  width: 350px;
  margin-left: 70px;
  margin-top: 20px;
  float: left;
  padding: 10px;
}





.footer p
{
  padding: 5px;
  font-size: 15px;
}





.footest p
{
  padding: 80px;
  font-size: 12px;
}





.content
{
  height: auto;
  width: 1245px;
}





.side-bar-left
{
  width: 174px;
  height: 0px;
  float: left;
  padding-top: 9px;
  padding-left: 27px;
  text-align: left;
  color: white;
  clear:right;
}





.main-content
{
  width: auto;
  height: auto;
  padding: 10px;
  float: left;
  margin-left: 194px;
  clear:right;
  overflow: auto;
  border-right: 7px solid darkred;
  border-bottom: 7px solid darkred;
  border-left: 2px solid darkred;
  border-top: 2px solid darkred;
  border-radius: 5px;
}

